<header class="articleHeader">

<div class="articleHeaderInfo">

<div class="publish-date">
<i class="icon icon-clock"></i><time datetime="2015-08-28T12:45:02-0400" pubdate="" itemprop="datePublished">Aug 28, 2015 <span class="pubtimestamp">@ 12:45 PM</span></time>
</div>
<ul class="tags">
<li class="tags--item"><a class="tags--link" href="#" title="This Is 30">This Is 30</a></li>
</ul>
</div>

<h1 class="article-title" itemprop="headline">{{ title }}</h1>
<h2 class="article-sub-title" itemprop="alternativeHeadline"><p>Caitlin Flanagan reflects on the lessons she learned at age 30.<br></p></h2>

</header>

<div class="row">
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

<div class="byline ">
   <div class="picture"><i class="icon icon-author link-icon"></i></div>
   <div class="author byline--author-block" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
   By <span class="authorName" itemprop="name">{{ author.name }}</span>
   </div>
</div>

{% include "_partials/share-buttons-side" %}



</div>
<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
<section class="article-content">

{{ articleBody }}

</section>

<footer class="articleFooter">
{% include "_partials/tags-bottom" %}
{% include "_partials/share-buttons-bottom" %}
</footer>

</div>
</div>



<div>
<div></div>
<div></div>
</div>
