
{% extends "_layout" %}
{% set title = "News" %}

{% block content %}
<h1>News</h1>

	
{# Paginate the News entries in groups of 4 #}
{% paginate craft.entries.section('news').relatedTo(category).limit(10) as newsEntries %}



{# Loop through this page's News entries #}
{% for newsEntry in newsEntries %}
			
{% set entryCategory = newsEntry.categories.first() %}
{# Figure out where this entry should link to #}
{% set url = newsEntry.type.handle == 'link' ? newsEntry.linkUrl : newsEntry.url %}





{% endfor %}




			<div id="pagination">
				<ul class="pagination pagination-sm">
					{% if paginate.prevUrl %}
						<li><a href="{{ paginate.prevUrl }}" class="pag-prev-link">Previous Page</a></li>
					{% endif %}

					{% for page, url in paginate.getPrevUrls(5) %}
						<li><a href="{{ url }}">{{ page }}</a></li>
					{% endfor %}

					<li class="current active on"><a href="{{ url }}">{{ paginate.currentPage }}</a></li>

					{% for page, url in paginate.getNextUrls(5) %}
						<li><a href="{{ url }}">{{ page }}</a></li>
					{% endfor %}

					{% if paginate.nextUrl %}
						<li><a href="{{ paginate.nextUrl }}" class="pag-next-link">Next Page</a></li>
					{% endif %}
				</ul>
			</div>
			
{% endpaginate %}

{% endblock %}
