
{% extends "_layout" %}
{% set title = category.title %}


{% block content %}
<h1><a href="{{ category.url }}">{{ category.title }}</a></h1>

	
{# Paginate the News entries in groups of 4 #}
{% paginate craft.entries.section('news').relatedTo(category).limit(10) as newsEntries %}



{# Loop through this page's News entries #}
{% for newsEntry in newsEntries %}
			
{% set entryCategory = newsEntry.categories.first() %}
{# Figure out where this entry should link to #}
{% set url = newsEntry.type.handle == 'link' ? newsEntry.linkUrl : newsEntry.url %}


{# Fetch all of the entries related to this category #}
{% set entries = craft.entries.relatedTo(category) %}

{# Output them #}

<a href="{{ url }}">{{ newsEntry.title }}</a>
or 
{% include "_partials/entry-snippet" %}



{% endfor %}






{% endblock %}
