{% extends "_layout" %}
{% set title = category.title %}

{% block content %}

<section>
<div class="container">
<div class="row">
<div class="col-xs-12">

<h1 id="page-title">{{ category.title }}</h1>

</div>
</div>

<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

<div class="news-items">
	
{% paginate craft.entries.section('news').relatedTo(category).limit(10) as newsEntries %}

{% for newsEntry in newsEntries %}
	
	{% set image = newsEntry.featuredImage.first() %}
	{% set entryCategory = newsEntry.categories.first() %}

	{% include "_partials/entry-item" %}
		
{% endfor %}

{% include "_partials/pagination" %}

</div>	
</div>
</div>		
		
		
</div>
</section>	
{% endblock %}
